.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins

.idea/
.metadata
.vscode/

assets/de/deck_a.txt
assets/de/deck_b.txt
assets/de/deck_c.txt
assets/de/deck_d.txt
assets/de/deck_e.txt
assets/de/deck_f.txt
